<nav class="navbar">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li><%= link_to "Restaurants", restaurants_path %></li>
      <li><%= link_to "Reviews", reviews_path %></li>
    <li class="active"><%= link_to "Lists", lists_path %></li>
        <li><%= link_to "Food Tips", blogs_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Tacos</a></li>
            <li><a href="#">Pizza</a></li>
            <li><a href="#">Tacos</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="">
  <h3>Lists</h3>
  <% @lists.in_groups_of(4, false) do |list_group| %>
    <div class="row">
      <% list_group.each do |list| %>
        <% @list = list %>
        <div class="col-md-3">
          <h4><%= link_to list.title, list_path(list.title) %></h4>
          <p><%= list.body %></p>
          <% unless list.restaurants.empty? %>
            <%= render partial: 'layouts/restaurant_list' %>
          <% else %>
            <%= render partial: 'layouts/review_list' %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
