<div class="feature-box">
  Create a new List:
  <%= form_for @list, url: admin_lists_path(1), html: {role: "form"} do |f| %>
    <div class="form-group">
      <%= f.label :title %>:<br>
      <%= f.text_field :title, :class => 'inpt-data', :required => true  %>
    </div>
    <div class="form-group">
      <%= f.label :description%>:<br>
      <%= f.text_area :body, size: "20x6", :class => 'inpt-data'  %>
    </div>
    <div class="form-group">
      <%= f.label :first %>:<br>
      <%= f.select_tag "restaurant_ids[]", options_for_select(@restaurants.collect{|r| [r.name, r.id]}), include_blank: true, class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :second %>:<br>
      <%= f.select_tag "restaurant_ids[]", options_for_select(@restaurants.collect{|r| [r.name, r.id]}), include_blank: true, class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :third %>:<br>
      <%= f.select_tag "restaurant_ids[]", options_for_select(@restaurants.collect{|r| [r.name, r.id]}), include_blank: true, class:"btn btn-default dropdown-toggle"%>
    </div>
    <%= f.submit "Create", :class => "btn btn-primary" %>
  <% end %>
</div>
