<div class="feature-box">
  Create a new List:
  <%= form_for @list, url: admin_lists_path(1), html: {role: "form"} do |f| %>
    <div class="form-group">
      <%= f.label :title %>:<br>
      <%= f.text_field :title, :class => 'inpt-data', :required => true  %>
    </div>
    <div class="form-group">
      <%= f.label :description%>:<br>
      <%= f.text_area :body, size: "20x6", :class => 'inpt-data'  %>
    </div>
    <div class="form-group">
      <%= f.label :first %>:
      <%= f.select_tag "restaurant_id" options_for_select(@restaurants.colect{|r| [r.name, r.id]}), class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :second %>:
      <%= f.select_tag "restaurant_id" options_for_select(@restaurants.colect{|r| [r.name, r.id]}), class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :third %>:
      <%= f.select_tag "restaurant_id" options_for_select(@restaurants.colect{|r| [r.name, r.id]}), class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :fourth %>:
      <%= f.select_tag "restaurant_id" options_for_select(@restaurants.colect{|r| [r.name, r.id]}), class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :fifth %>:
      <%= f.select_tag "restaurant_id" options_for_select(@restaurants.colect{|r| [r.name, r.id]}), class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :sixth %>:
      <%= f.select_tag "restaurant_id" options_for_select(@restaurants.colect{|r| [r.name, r.id]}), class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :seventh %>:
      <%= f.select_tag "restaurant_id" options_for_select(@restaurants.colect{|r| [r.name, r.id]}), class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :eighth %>:
      <%= f.select_tag "restaurant_id" options_for_select(@restaurants.colect{|r| [r.name, r.id]}), class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :nineth %>:
      <%= f.select_tag "restaurant_id" options_for_select(@restaurants.colect{|r| [r.name, r.id]}), class:"btn btn-default dropdown-toggle"%>
    </div>
    <div class="form-group">
      <%= f.label :tenth %>:
      <%= f.select_tag "restaurant_id" options_for_select(@restaurants.colect{|r| [r.name, r.id]}), class:"btn btn-default dropdown-toggle"%>
    </div>
    <%= f.submit "Create", :class => "btn btn-primary" %>
  <% end %>
</div>
