<div class="feature-box">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Category</th>
          <th>Score</th>
          <th>Reviews</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td><%= @restaurants.count %></td>
          <td><%= link_to "Add Restaurant", new_admin_restaurant_path(1) %></td>
          <td><%= link_to "Edit Categories", admin_categories_path(1) %></td>
          <td><%= Restaurant.score_avg %></td>
          <td><%= Review.count %></td>
          <td></td>
        </tr>
      </tfoot>
      <tbody>
      <% @restaurants.each do |place| %>
        <tr>
          <td><%=place.id%></td>
          <td><%=place.name%></td>
          <td>
            <% place.categories.each do |category| %>
              <%= category.name %>
            <% end %>
          </td>
          <td><%=place.score%></td>
          <td>
            <%= link_to place.reviews.count, admin_restaurant_reviews_path(1, place.name) %>
          </td>
          <td>
            <%= link_to "Review", new_admin_restaurant_review_path(1, place) %>-
            <%= link_to "Edit", edit_admin_restaurant_path(1, place.name) %>-
            <%= link_to "Delete", admin_restaurant_path(1, place), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>

<div class="feature-box">
  <h3>Blogs</h3> <%= link_to "Create Topic", new_admin_blog_path(1) %>
  <% @blogs.in_groups_of(4,false) do |blog_group| %>
    <div class="row">
      <% blog_group.each do |blog| %>
        <div class="col-md-3">
          <h4><%= blog.title %></h4>
          <p><%= blog.description %></p>
          <%= link_to "edit" %> <%= link_to "delete" %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="feature-box">
  <h3>Lists</h3> <%= link_to "Create List", new_admin_list_path(1) %>
  <% @lists.in_groups_of(4,false) do |list_group| %>
    <div class="row">
      <% list_group.each do |list| %>
        <div class="col-md-3">
          <h4><%= list.title %></h4>
          <p><%= list.body %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
