<div class="feature-box">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Score</th>
          <th>Reviews</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
      <% @restaurants.each do |place| %>
        <tr>
          <td><%=place.id%></td>
          <td><%=place.name%></td>
          <td><%=place.score%></td>
          <td><%=place.reviews.count%></td>
          <td>
            <%= link_to "Delete", admin_restaurant_path(1, place), method: :delete, data: { confirm: 'Are you certain you want to delete this?' } %>-
            <%= link_to "Edit", edit_admin_restaurant_path(1, place) %>-
            <%= link_to "Unlist", admin_restaurant_path(1, place) %>
          </td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>
