<div class="view-section">
  <div class="row img-peak">
    <div class="col-sm-12 img-peek">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="jumbotron title-font">
        <h1>Tubb's Gourmet Reviews</h1>
        <a href="#about" class="dark-background">About</a>
        <a href="#where" class="dark-background">Where</a>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>    
    </div>
  </div>
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-4">
          <div class="">
            <h3><%= link_to "Featured", restaurants_path %></h3>
            <p>best eateries in the Chicago area</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="center-img">
            <h3><%= link_to "Lists", lists_path %></h3>
            <p>compiled lists of our favorite dishes</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="pull-right">
            <h3><%= link_to "Tips & Hacks", blogs_path %></h3>
            <p>secrets to finding best places to eat</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
  </div>
</div>
<div class="view-section">
  <a id="about"></a>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8 about-msg">
        <h4>Find fantastic dining experiences from all around the city of Chicago. From the smallest dive bar to the most luxurious of restuarants.</h4>
      </div>
      <div class="col-sm-2"></div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4"><%= image_tag("burger.png", height: "144", class: "circle-vector-icon pull-left")%></div>
          <div class="col-sm-4"><%= image_tag("cutlery.png", height: "144", class: "circle-vector-icon center-img")%></div>
          <div class="col-sm-4"><%= image_tag("beer.png", height: "144", class: "circle-vector-icon pull-right")%></div>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
<div class="view-section">
  <a id=""></a>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"></div>
  </div>
</div>

