<div class="view-section">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="jumbotron">
        <h1>Fatty's Food Reviews</h1>
        <a href="#featured">featured</a>
        <a href="#latest_reviews">latest reviews</a>
        <a href="#categories">categories</a>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="feature-box">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="feature-box">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="feature-box">
      </div>
    </div>
  </div>
</div>
<div class="view-section">
  <a id="featured"></a>
  <div class="row">
    <h1>Featured</h1>
    <% @featured_list.each do |featured| %>
      <div class="col-md-3">
        <div class="img-bkgrnd" style="background-image: url(<%=featured.picture.url%>)">
          <div class="tint">
          <center>
            <h3><%= link_to featured.name, restaurant_path(featured.name) %></h3>
          </center>
          </div>
        </div>
        Score: <%= featured.score %> <span class="pull-right">Cost: <%= featured.expense %></span>
      </div>
    <% end %>
  </div>
</div>
<div class="view-section">
  <a id="latest_reviews"></a>
  <div class="row">
    <h1>Latest</h1>
    <% @latest_reviews.each do |review| %>
      <div class="col-md-3">
        <h4><%= link_to review.title, restaurant_review_path(review.restaurant.name, review.title) %></h4>
        @ <%= link_to review.restaurant.name, restaurant_path(review.restaurant.name) %><br>
        <%= review.body_sample %>...
      </div>
    <% end %>
  </div>
</div>
<div class="view-section feature-box">
  <a id="categories"></a>
  <div class="row">
    <h1>Categories</h1>
    <% @categories.each do |category| %>
      <div class="col-md-3">
        <div class="img-bkgrnd" style="background-image: url(<%=category.picture.url%>)">
          <center>
            <h3><%= link_to category.name, category_path(category.name) %></h3>
          </center>
        </div>
      </div>
    <% end %>
  </div>
</div>
