<div class="feature-box">

  <h2><%=@restaurant.name%></h2>
  <div class="row">
    <div class="col-md-6">
      Score: <p><%= @restaurant.score %></p>
      <p><%= @restaurant.body %></p>
      <p><%= @restaurant.area.name %></p>
    </div>
    <div class="col-md-6">
      <div class=""style='width: 500px;'>
        <div id="map" style='width: 500px; height: 350px;'></div>
      </div>
    </div>
  </div>
  <% @restaurant.reviews.in_groups_of(3, false) do |reviews| %>
    <div class="row">
      <% reviews.each do |review| %>
        <div class="col-md-4">
          <h3><%= review.title %></h3>
          <p><%= image_tag review.set_pic, width: "100%" %></p>
          <p><%= review.entree %></p>
          <p>Cost: $<%= review.price %></p>
          <p>Score: <%= review.score %></p>
          <p><%= review.body %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @restaurant.latitude %>,
          "lng": <%= @restaurant.longitude %>,
          "picture": {
            "url": "http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi.png",
            "width":  22,
            "height": 40
          },
          "infowindow": "<%= @restaurant.name %>"
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(14);
    });
  </script>

</div>
