<div class="feature-box">
  <h2>Add a review for <%=@review.restaurant.name%>:</h2>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <%= form_for @review, url: admin_restaurant_reviews_path, html: {role: "form", class: "directUpload", data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host }} do |f| %>
          <div class="form-group">
          <%= f.label :title %>:<br>
          <%= f.text_field :title, :class => 'inpt-data' %><br>
          </div>
          <div class="form-group">
          <%= f.label :entree %>:<br>
          <%= f.text_field :entree, :class => 'inpt-data' %><br>
          </div>
          <div class="form-group">
          <%= f.label :price %>:<br>
          <%= f.number_field :price, :class => 'inpt-data' %><br>
          </div>
          <div class="form-group">
          <%= f.label :score %>:<br>
          <%= f.number_field :score, :class => 'inpt-data' %><br>
          </div>
          <div class="form-group">
          <%= f.label :notes %>:<br>
          <%= f.text_area :body, size: "20x6", :class => 'inpt-data' %><br>
          </div>
          <div class="form-group">
            <%= f.fields_for :picture do |f_pic| %>
              <%= f_pic.file_field :url %>
            <%end%>
          </div>
          <%= f.hidden_field :restaurant_id %>
          <%= f.submit "Create", :class => 'btn btn-default' %>
          <%= link_to "Cancel", admin_path(1), class: 'btn btn-danger'%>
        <% end %>
    </div>
    <div class="col-md-7">

    </div>
  </div>
</div>
