<div class="feature-box">
      <h2><%= @review.restaurant.name %></h2><br>
  <div class="row">
    <div class="col-md-7">
      <h4><%= @review.title %></h4>
      <%= image_tag @review.picture, width: "100%" %>
      <p><%= @review.entree %></p>
      <p>Price: $<%= @review.price %></p>
      <p>Score: <%= @review.score%></p>
      <p><%= @review.body %></p>
    </div>
    <div class="col-md-5">
      <h4>Other <%= @review.restaurant.name %> reviews:</h4>
      <ul>
        <% @review.restaurant.reviews.each do |other_review| %>
          <li><%= link_to other_review.title, restaurant_review_path(other_review.restaurant.name, other_review.title) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
